<main class="content">
  <hr class="divider">
  <div class="homebanner">
    <img src="../assets/Images/apw_commercial.jpg">
  </div>
  <hr class="divider">
  <div class="services">
    <div class="card-grid">
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_gas_station.jpg" routerLink="/gas_station_cleaning" alt="Gas Station Cleaning">
        <h3 routerLink="/gas_station_cleaning">Gas Stations</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_drive_thru.jpg" routerLink="/drive_thru_cleaning" alt="Drive-Thru Cleaning">
        <h3 routerLink="/drive_thru_cleaning">Drive-Thrus</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_patio.jpg" routerLink="/restaurant_patio_cleaning" alt="Restaurant Patio Cleaning">
        <h3 routerLink="/restaurant_patio_cleaning">Commercial Patios</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_dumpster_pad.jpg" routerLink="/dumpster_pad_cleaning" alt="Dumpster Pad Cleaning">
        <h3 routerLink="/dumpster_pad_cleaning">Dumpster Pads</h3>
      </div>
      <!-- <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_kitchen.jpg" routerLink="/restaurant_kitchens" alt="Restaurant Kitchens">
        <h3 routerLink="/restaurant_kitchens">Restaurant Kitchen</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_floors.jpg" routerLink="/restaurant_floors" alt="Restaurant Floors">
        <h3 routerLink="/restaurant_floors">Restaurant Floors</h3>
      </div>
    -->
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_parking_garage.jpg" routerLink="/parking_garage_cleaning" alt="Parking Garage Cleaning">
        <h3 routerLink="/parking_garage_cleaning">Parking Garages</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_grafitti_removal.jpg" routerLink="/graffiti_removal" alt="Graffiti Removal">
        <h3 routerLink="/graffiti_removal">Graffiti Removal</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_sidewalks.jpg" routerLink="/sidewalk_cleaning" alt="Sidewalk Cleaning">
        <h3 routerLink="/sidewalk_cleaning">Sidewalk Cleaning</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_building_washing.jpg" routerLink="/building_washing" alt="Building Washing">
        <h3 routerLink="/building_washing">Building Washing</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_gum_removal.jpg" routerLink="/gum_removal" alt="Gum Removal">
        <h3 routerLink="/gum_removal">Gum Removal</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Commercial_Services/commercial_custom.jpg" routerLink="/custom_commercial" alt="Custom Commercial">
        <h3 routerLink="/custom_commercial">Custom Requests</h3>
      </div>
    </div>
  </div>
</main>
