<main class="content">
  <hr class="divider">
  <div class="homebanner">
    <img src="../assets/Images/apw_industrial.jpg">
  </div>
  <div class="services">
    <div class="card-grid">
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_tractor.jpg" routerLink="/heavy_equipment" alt="Heavy Equipment">
        <h3 routerLink="/heavy_equipment">Heavy Equipment</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_fleet_washing.jpg" routerLink="/fleet_washing" alt="Fleet Washing">
        <h3 routerLink="/fleet_washing">Fleet Washing</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_parking_lot.jpg" routerLink="/parking_lots" alt="Parking Lots">
        <h3 routerLink="/parking_lots">Parking Lots</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_machinery.jpg" routerLink="/machinery" alt="Machinery">
        <h3 routerLink="/machinery">Machinery</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_warehouse.jpg" routerLink="/warehouse_cleaning" alt="Warehouse Cleaning">
        <h3 routerLink="/warehouse_cleaning">Warehouse Cleaning</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_storage_tanks.jpg" routerLink="/storage_tanks" alt="Storage Tanks">
        <h3 routerLink="/storage_tanks">Storage Tanks</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_dumpster_pad.jpg" routerLink="/dumpsters_surrounding_areas" alt="Dumpsters and Surrounding Areas">
        <h3 routerLink="/dumpsters_surrounding_areas">Dumpsters and Surrounding Areas</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_farm_solar_panels.jpg" routerLink="/farm_solar_panels" alt="Farm Solar Panels">
        <h3 routerLink="/farm_solar_panels">Farm Solar Panels</h3>
      </div>
      <div class="card">
        <img src="../assets/Images/Industrial_Services/industrial_custom.jpg" routerLink="/custom_industrial" alt="Custom Industrial">
        <h3 routerLink="/custom_industrial">Custom Industrial</h3>
      </div>
    </div>
  </div>
</main>
