<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<section class="service">
    <div class="container">
      <div class="image-container">
        <img src="../assets/Images/residential_driveway.jpg" alt="Driveway Cleaning Image">
      </div>
      <div class="content-container">
        <div class="content-box">
          <h2 class="title">Building Washing</h2>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar nisl. Sed ut sem vel nulla gravida
            tempor. Pellentesque eu vulputate urna. Integer feugiat sagittis justo a ultricies.
          </p>
          <a>Call Now! </a><i class="fas fa-phone">&nbsp;</i>  <a href="tel:+1234567890">(123) 456-7890</a>
        </div>
      </div>
    </div>
  </section>
  