<main class="content">
  <hr class="divider">
  <div class="homebanner">
    <img src="../assets/Images/apw_contact.jpg" alt="Home Banner Image">
  </div>
</main>
<hr class="divider">
<section class="contact-section">
  <div class="contact-container">
    <div class="contact-info">
      <div class="company-info">
        <img src="../assets/Images/contact_us.jpg" alt="Company Image">
        <div class="company-details">
          <p><strong>Anthem Power Washing</strong></p>
          <p>123456, Anthem, AZ, 85086</p>
          <p>Phone: <a href="tel:+1234567890">+1 (123) 567-7894</a></p>
          <p>Email: <a href="mailto:AnthemPowerWashing@gmail.com">AnthemPowerWashing@gmail.com</a></p>
        </div>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com/yourcompany" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
        <a>&nbsp;</a>
        <a href="https://www.twitter.com/yourcompany" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
        <a>&nbsp;</a>
        <a href="https://www.instagram.com/yourcompany" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
        <a>&nbsp;</a>
        <a href="https://www.youtube.com/yourcompany" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</section>
