<main class="content">
   
    <hr class="divider">
    <div class = "homebanner">
      <img src="../assets/Images/apw_gallery.jpg">
    </div>
    <hr class="divider">
    <div class="gallery-container">
      <div class="gallery" #gallery>
        
        <img src="../assets/Images/Residential_Services/residential_driveway.jpg" alt="Image 1">
        <img src="../assets/Images/Commercial_Services/commercial_building_washing.jpg" alt="Image 2">
        <img src="../assets/Images/Industrial_Services/industrial_farm_solar_panels.jpg" alt="Image 3">
        <img src="../assets/Images/Residential_Services/residential_patio.jpg" alt="Image 4">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_floors.jpg" alt="Image 5">
        <img src="../assets/Images/Residential_Services/residential_house_washing.jpg" alt="Image 6">
        <img src="../assets/Images/Industrial_Services/industrial_tractor.jpg" alt="Image 7">
        <img src="../assets/Images/Residential_Services/residential_pool_deck.jpg" alt="Image 8">
        <img src="../assets/Images/Commercial_Services/commercial_grafitti_removal.jpg" alt="Image 9">
        <img src="../assets/Images/Industrial_Services/industrial_storage_tanks.jpg" alt="Image 10">
        <img src="../assets/Images/Residential_Services/residential_curbs.jpg" alt="Image 11">
        <img src="../assets/Images/Commercial_Services/commercial_custom.jpg" alt="Image 12">
        <img src="../assets/Images/Industrial_Services/industrial_dumpster_pad.jpg" alt="Image 13">
        <img src="../assets/Images/Residential_Services/residential_sidewalk.jpg" alt="Image 14">
        <img src="../assets/Images/Commercial_Services/commercial_sidewalks.jpg" alt="Image 15">
        <img src="../assets/Images/Industrial_Services/industrial_warehouse.jpg" alt="Image 16">
        <img src="../assets/Images/Residential_Services/residential_windows.jpg" alt="Image 17">
        <img src="../assets/Images/Commercial_Services/commercial_drive_thru.jpg" alt="Image 18">
        <img src="../assets/Images/Industrial_Services/industrial_machinery.jpg" alt="Image 19">
        <img src="../assets/Images/Residential_Services/residential_custom.jpg" alt="Image 20">
        <img src="../assets/Images/Commercial_Services/commercial_parking_garage.jpg" alt="Image 21">
        <img src="../assets/Images/Industrial_Services/industrial_fleet_washing.jpg" alt="Image 22">
        <img src="../assets/Images/Residential_Services/residential_concrete.jpg" alt="Image 23">
        <img src="../assets/Images/Commercial_Services/commercial_gas_station.jpg" alt="Image 24">
        <img src="../assets/Images/Industrial_Services/industrial_custom.jpg" alt="Image 25">
        <img src="../assets/Images/Residential_Services/residential_garage.jpg" alt="Image 26">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_kitchen.jpg" alt="Image 27">
        <img src="../assets/Images/Industrial_Services/industrial_parking_lot.jpg" alt="Image 28">
        <img src="../assets/Images/Residential_Services/residential_stucco.jpg" alt="Image 29">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_patio.jpg" alt="Image 30">
        <img src="../assets/Images/Industrial_Services/industrial_parking_lot.jpg" alt="Image 31">
        <img src="../assets/Images/Residential_Services/residential_patio.jpg" alt="Image 32">
        <img src="../assets/Images/Commercial_Services/commercial_sidewalks.jpg" alt="Image 33">
        <img src="../assets/Images/Industrial_Services/industrial_custom.jpg" alt="Image 34">
        <img src="../assets/Images/Residential_Services/residential_concrete.jpg" alt="Image 35">
        <img src="../assets/Images/Commercial_Services/commercial_parking_garage.jpg" alt="Image 36">
        <img src="../assets/Images/Industrial_Services/industrial_fleet_washing.jpg" alt="Image 37">
        <img src="../assets/Images/Residential_Services/residential_garage.jpg" alt="Image 38">
        <img src="../assets/Images/Commercial_Services/commercial_restaurant_kitchen.jpg" alt="Image 39">
        <img src="../assets/Images/Industrial_Services/industrial_warehouse.jpg" alt="Image 40">
        
        
        

        
        <button class="gallery-button prev" (click)="scrollGallery('prev')">Prev</button>
        <button class="gallery-button next" (click)="scrollGallery('next')">Next</button>
      </div>
    </div>

  
  </main>
