<div class="app">
  <header>
    <div class="banner">
      <div class="logo">
        <img src="../assets/Images/apw_logo.jpg" alt="Logo" class="logo-image" routerLink="/">
      </div>
      <nav> 
        <ul> 
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/residential">Residential</a></li>
          <li><a routerLink="/commercial">Commercial</a></li>
          <li><a routerLink="/industrial">Industrial</a></li>
          <li><a routerLink="/gallery">Gallery</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a href="tel:3303144816">Free Estimates: 330-314-4816</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main">
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </main>
  
  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2023 Anthem Power Washing. All rights reserved.</p>
        <p>Site developed by Alexander Innovation LLC</p>
        <ul class="footer-links">
        </ul>
      </div>
    </div>
  </footer>
</div>
