<main class="content">


  <hr class="divider">
  <div class = "homebanner">
    
    <img src="../assets/Images/apw_logo.jpg">
  </div>
  <hr class="divider">
  <div class="services">
    <div class="card">
      <img src="../assets/Images/residential_driveway.jpg" routerLink="/residential" alt="Residential Services">
      <h3 routerLink="/residential">RESIDENTIAL</h3>
    </div>
    <div class="card">
      <img src="../assets/Images/commercial_gas_station.jpg" routerLink="/commercial" alt="Commercial Services">
      <h3 routerLink="/commercial">COMMERCIAL</h3>
    </div>
    <div class="card">
      <img src="../assets/Images/industrial_tractor.jpg" routerLink="/industrial" alt="Industrial Services">
      <h3 routerLink="/industrial">INDUSTRIAL</h3>
    </div>
    <div class="card">
      <img src="../assets/Images/gallery.jpg" routerLink="/gallery" alt="Gallery">
      <h3 routerLink="/gallery">GALLERY</h3>
    </div>
  </div>
</main>
