<main class="content">
   
  <hr class="divider">
  <div class = "homebanner">
    
    <img src="../assets/Images/apw_residential.jpg">
  </div>
  
    <div class="services">

    <div class = "card-grid">

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_driveway.jpg" routerLink="/residential_driveway" alt="Drive Way Cleaning">
        <h3 routerLink="/driveway_cleaning">Drive Way Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_house_washing.jpg" routerLink="/house_washing" alt="House Washing">
        <h3 routerLink="/house_washing">House Washing</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_patio.jpg" routerLink="/patio_cleaning" alt="Patio Cleaning">
        <h3 routerLink="/patio_cleaning">Patio Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_sidewalk.jpg" routerLink="/sidewalk_cleaning" alt="Sidewalk Cleaning">
        <h3 routerLink="/sidewalk_cleaning">Sidewalk Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_garage.jpg" routerLink="/garage_cleaning" alt="Garage Cleaning">
        <h3 routerLink="/garage_cleaning">Garage Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_curbs.jpg" routerLink="/curb_cleaning" alt="Curb Cleaning">
        <h3 routerLink="/curb_cleaning">Curb Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_concrete.jpg" routerLink="/concrete_cleaning" alt="Concrete Cleaning">
        <h3 routerLink="/concrete_cleaning">Concrete Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_playground_equipment.jpg" routerLink="/playground_equipment" alt="Playground Equipment">
        <h3 routerLink="/playground_equipment">Playground Equipment</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_pool_deck.jpg" routerLink="/pool_deck_cleaning" alt="Pool Deck Cleaning">
        <h3 routerLink="/pool_deck_cleaning">Pool Deck Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_stucco.jpg" routerLink="/stucco_cleaning" alt="Stucco Cleaning">
        <h3 routerLink="/stucco_cleaning">Stucco Cleaning</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_windows.jpg" routerLink="/exterior_window_washing" alt="Exterior Window Washing">
        <h3 routerLink="/exterior_window_washing">Exterior Window Washing</h3>
      </div>

      <div class="card">
        <img src="../assets/Images/Residential_Services/residential_custom.jpg" routerLink="/custom_residential" alt="Custom Residential">
        <h3 routerLink="/custom_residential">Custom Residential</h3>
      </div>

    </div>

    </div>
</main>

  
